@model TravelBlog.Models.Experience
@{
    ViewData["Title"] = "Create Experience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Create Experience</h2>
<hr />
<h4>Add a new Experience</h4>
@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description)
    </p>

    <p>
        @Html.Label("Location")
        @Html.DropDownList("LocationId")
    </p>

    <input type="submit" value="Add a new experience" />
}
<p>@Html.ActionLink("Back to list view", "Index")</p>
