@model TravelBlog.Models.Location

    @{
        ViewData["Title"] = "Create Experience";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Details</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)

    <h3>Experiences:</h3>
    <ul>
        @foreach (var experience in Model.Experiences)
        {
            <li>@Html.ActionLink(experience.Description,  "Details", "Experiences", new { id = experience.ExperienceId }, null) <br />
                @if (experience.People.Count > 0)
                {


                <p>People I Met:</p>
            <ul>
                
                    @foreach(var person in experience.People)
                    {

                        <li>@Html.DisplayFor(people => person.Name)</li>

                    }
            </ul>
                }
            </li>
             
        }
    </ul>
<p>@Html.ActionLink("Back to list view", "Index")</p>