@model IEnumerable<TravelBlog.Models.Location>

@{
    ViewData["Title"] = "Create Experience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Travel Blog</h2>
<h4>@Html.DisplayNameFor(model => model.Name)</h4>

<main class="boxes">

@foreach(var listLocation in Model)
{
    <div class="box">
        @Html.DisplayFor(modelLocation => listLocation.Name) | 
        @Html.ActionLink("Details", "Details", new { id = listLocation.LocationId }) | 
        @Html.ActionLink("Edit", "Edit", new { id = listLocation.LocationId }) | 
        @Html.ActionLink("Delete", "Delete", new { id = listLocation.LocationId })
    </div>
}
</main>

<p>@Html.ActionLink("Add new location", "Create")</p>