@model IEnumerable<TravelBlog.Models.Location>

@{
    ViewData["Title"] = "Create Experience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Travel Blog</h2>
<h4>@Html.DisplayNameFor(model => model.Name)</h4>

<main class="boxes">

@foreach(var listLocation in Model)
{
    <div class="box">
        <div class="imgTemplate"></div>
        @Html.DisplayFor(modelLocation => listLocation.Name) 
        <div class="linksInBox">
            @Html.ActionLink("Details", "Details", new { id = listLocation.LocationId }) |
            @Html.ActionLink("Edit", "Edit", new { id = listLocation.LocationId }) |
            @Html.ActionLink("Delete", "Delete", new { id = listLocation.LocationId })
        </div>
    </div>
}
</main>

<a class="addIcon" href='@Url.Action("Create")'>
    <img src='@Url.Content("~/img/add_new.png")' />
</a>